<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Confirmation Mail</title>
  </head>
  <br />
  <body>
    <h2>
      Hello Mr/Mrs.
      {{email}}
    </h2>
    <div>
      <h3>Please sett your password account from
        <a style='font-weight: bold;' href={{url}}>here</a>.</h3>
    </div>
    <br />
    <br />
    <br />
    <h2>Sincerely,</h2>
    <h3>Librairie Team</h3>
  </body>
</html>